
body{
  background-image: url('fondo3.jpeg'); /* ya lo tenés */
 background-size: cover;               /* 🔥 esto la estira bien */
 background-position: center;          /* centra la imagen */
 background-repeat: no-repeat;         /* que no se repita */
 background-attachment: fixed;         /* opcional, para efecto paralax */
 margin: 0;                             /* elimina márgenes por defecto */
 min-height: 100vh;              
}
        
.nav-link {
    color: rgb(255, 255, 255) !important; 
}

.nav-link:hover {
    color: red !important;   /* Color cuando pasás el mouse por encima */
}

.textoNavbar {
    font-size: 25px !important;
}
.logo{
    height: 5%;
}
form{
background-color:rgba(50, 50, 50, 0.5);
height: 30%;
color: rgb(255, 238, 0);
width: 600px;
padding: 20px;
border-radius: 50px;
margin: 150px auto !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #000;
    border-bottom: 1px solid #444;
  }

  .logo img {
    height: 75px;
  }

  .nav-links {
    display: flex;
    gap: 25px;
  }

  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }

  .nav-links a:hover {
    color: #ff00cc; /* rosa neón */
  }
